#header , #buscar {
	display: none;
}
.bordes{
  border-width: 1px; 
  border-style: solid;
  padding: 0;
  margin: 0;
}

input, select{
background: none;
border:none;
-webkit-appearance: field;
}

article{ border: 2px;
border-color: 5px; }
body img{
 width: 100%;
 visibility:visible;
}
body .bloque{
	margin:0 50px;
}
h3{
	text-align: center;
}

#bloque2{z-index: 12; padding-top: 225px;}
#tabla {
	margin: 10px 0;
}

#fecha-elab{
	padding-left:50%;
}
.bloque label{ display: inline; }
.linea p{display: inline;
margin-left: 10%;}

#pie2{ display: inline;
  z-index: 99;
   position: fixed;
text-align: center;}
#pie2 p{
	/*margin-top: 3%;*/
	text-align: center;
	font-size: 9px;
	color: gray;	
}

.hide{  display: block !important;}

@media print{

 .btn {
#tableReporteBienes table{
  	max-width: 0;
  	min-width: 0;
  	overflow: none;
  		}
	}
}
