/* ---------- Fuente de Google---------- */

/* Reinicio de Estilos*/
*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td { margin:0; padding:0 }
table { border-collapse:collapse; border-spacing:0 }
fieldset, img { border:0 }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal }
ol, ul, li { list-style:none }
caption, th { text-align:left }
h1, h2, h3, h4, h5, h6 {font-weight:normal;}
q:before, q:after { content:''}
strong { font-weight: bold }
em { font-style: sans-serif }
.sans-serif { font-style: italic; }
.aligncenter { display:block; margin:0 auto; }
.alignleft { float:left; margin:10px; }
.alignright { float:right;margin:10px; }
.no-margin{margin:0px;}
.no-bottom{margin-bottom:0px;}
.no-padding{padding:0px;}
.margin-t{margin-top:22px;}
div { position:relative } 
a{text-decoration:none;}
a:hover{text-decoration:underline;}
a:active,a:focus{outline: none;}
h1{text-transform: uppercase;}
img.alignleft, img.alignright, img.aligncenter {
    margin-bottom: 11px;
}


.alignleft, img.alignleft{
display: inline;
    float: left;
    margin-right: 22px;
}

.alignright, img.alignright {
    display: inline;
    float: right;
    margin-left: 22px;
}

.aligncenter, img.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

article, aside, figure, footer, header, hgroup, nav, section {display: block;}


*{ 
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

html{-webkit-font-smoothing:antialiased;}

a{color:#BA0707;}
a:hover{color:#BA0707;text-decoration:underline;}

body{background:#FFFFFF;
color:#3E4156;
font-family: "CaviarDreams", Helvetica, Arial;
font-size: 15px;
-webkit-font-smoothing: antialiased;
-webkit-text-size-adjust: 100%;
line-height:1;
width:100%;
height:auto;
overflow: auto;
}
/* latin */
@font-face {
  font-family: 'CaviarDreams';
  font-style: normal;
  font-weight: 400;
  src: local('CaviarDreams_Bold'), local('CaviarDreams_Bold'), url(font/CaviarDreams_Bold.ttf) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


.bs-example{
      margin: 100px 50px;
    }
.bs-example a{
        margin: 25px;
        font-size: 24px;
    }
.btn{  
  background:#A40000;
  border:none;
  border-radius:4px;
  color:#fff;
  display:inline-block;  
  font-size:16px;
  /*height:50px; */
  padding: 0;
  text-decoration:none;
  text-align: center;  
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  width:100%; 
  
}
.aux{
  height: 10px;
}
.no-margin{
  margin: 0px;
}

#buscarEquipo {
  width: 25px;
}
.inicio > form + form{
  margin-bottom: 7%;
}
#contenedor {  
  border-radius:4px;
  height: auto;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
 padding: 20px 0 0 0;
  display: flex; 
  flex-wrap: wrap; /*   Most Fluid */
            }
section > div > div{
  margin-top: 40px; 
}
#contenedor #alert {
  width: auto;
  margin-left: 0; 
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px
  }
#contenedor #nacio { 
  width: 40px; padding-left: 0px; margin-right: 0px;

 }
 section .inicio{
  background: url(images/fondoinicio.png);
 }
.fondo-form{
  background: lightblue;
  border-radius:6px;
}

.form-group .btn{
  width:25%;
  height:30px;
  margin: 0.1em;
  margin-left: auto;
}
.inicio h1{
margin: .5em;
text-align: center;
text-shadow: 2px,5px,7px,rgb(255,255,225);
}
.inicio #sesion{  
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  margin:2% auto;
  width: 350px;
  height: 250px;
  text-align: center;
   
}
#sesion h2{
margin: .5em;
text-align: center;
}
#alert{

 margin-top: 10px;
 text-align: center;
 /*width: 350px;
 margin-left: 37%;*/
}

.form-control{ 
  background:#fff;
  border:none;
  border:2px solid #E0D68F;
  border-radius:4px;
  color:#666;
  height:40px; 
  padding:5px 7px 5px 7px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;  
  width:80%;
}
form > div > #Iniciar{
width: 120px; height:30px;

}
#contenedor .form-control-2{    
  background:#fff;
  border:none;
  border:2px solid #E0D68F;
  border-radius:4px;
  color:#666;
  height:35px;
  margin: 0.3em;
  padding:5px 7px 5px 7px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;  
  width:150px;
}
#test .sub-menu > li {background: rgba(255,255,225,.5);}
#contenedor #cedula{
  width:100px;
}
.form-group{
  position: relative;
  margin-bottom:;
  text-align: center;
  width: 65 0px;
            }

h1{font-size:33px;line-height:1.3em;}
h2{font-size:32px;line-height:1.3em;}
h3{font-size:24px;line-height:1.3em;}
h4{font-size:18px;line-height:1.3em;}
h5{font-size:16px;}
h6{font-size:14px;}
p{padding-bottom:11px;}
p,div, span{line-height:1.5em;}
.column-clear{clear:both;}
.clear{overflow: hidden;}


.mainWrap{width: 100%;margin:0 auto;}

.title{
margin:0px 0 20px 0;
text-align:center;
color:#3E4156;}
.back{text-align:center;}

.barra{
  
width: 90%;
margin: 0 auto;
}
.barra img{

max-width:100%;
height: auto;
display: block;
margin: 0 auto;
}
#fondo img{
margin: 0
}
nav{
  display:block;
margin-top: 0px;
 background: #A40000;
 height: 45px;
}

#contenedor div{line-height:1em;}

.menu{display:block;}

.menu li{

  display: inline-block;
position: relative;
z-index:100;}

.menu li:first-child{margin-left:0;}

.menu li a {font-weight:600;
text-decoration:none;
padding:11px;
display:block;
color:#ffffff;

-webkit-transition: all 0.2s ease-in-out 0s;
   -moz-transition: all 0.2s ease-in-out 0s;
   -o-transition: all 0.2s ease-in-out 0s;
   -ms-transition: all 0.2s ease-in-out 0s;
   transition: all 0.2s ease-in-out 0s;
}

.menu li a:hover, .menu li:hover > a{color:#ffffff;
background:#BB4C50;}

.menu ul li:visited > a {color:#ffffff;
background:#BB4C50;}

.menu ul {display: none;
margin: 0;
padding: 0;
width: 150px;
position: absolute;
top: 43px;
left: 0px;
background: #ffffff;
}

.menu ul li {display:block;
float: none;
background:none;
margin:0;
padding:0;
}
.form-group select{
  background:#fff;
  border:none;
  border:2px solid #E0D68F;
  border-radius:4px;
  color:#666;
  height:30px;
  margin: 0.3em;
  padding:5px 7px 5px 15px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;  
  

}
.menu ul li a {font-size:12px;
  font-weight:normal;
  display:block;
  color:#797979;
  border-left:3px solid #ffffff;
  background:rgba(255, 255, 255, 0.75);}

.menu ul li a:hover, .menu ul li:hover > a{
background:#FFFFFF;
border-left:3px solid #A40000;
color:#797979;
}

.sub-menu
{
-webkit-transition: all 0.2s ease-in-out 0s;
   -moz-transition: all 0.2s ease-in-out 0s;
   -o-transition: all 0.2s ease-in-out 0s;
   -ms-transition: all 0.2s ease-in-out 0s;
   transition: all 0.2s ease-in-out 0s;
}
.menu li:hover > ul, menu li:hover .sub-menu{ display: block;}

.menu ul ul {left: 149px;
	top: 0px;
}

.movil-menu{display:none;
width:100%;
padding:11px;
background:#A40000;
color:#ffffff;
text-transform:uppercase;
font-weight:600;
}
.movil-menu:hover{background:##BA0707;
color:#ffffff;
text-decoration:none;
}

.centrado{
  left: 50%;
}

  .pie_de_pagina {
     clear: both;
   margin-top: auto;
   background-color: #4b4c4d;   
   color: #FFFFFF;
   font-size: 10px;   
   text-align: center;
 
   bottom: 0%; 
  }

.bloque label{display: block;  } /* Pasar elemento de linea a bloque*/
.grid-1, .grid-2, .grid-3, .grid-4, .grid-5 {width: 20%; 

}
.grid-6, .grid-7, .grid-8{
width: 100%;
}
.grid-50 {
  width: 33.3%;
}

@media (min-width: 785px) and (max-width: 979px) {
.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9{
width: 33.3%;
}

.mainWrap{width:768px;}
.menu ul {top:37px;}
.menu li a{font-size:12px;
padding:8px;}
#test span{ font-size: 11px; }
}

@media (max-width: 768px) {

.mainWrap{width:auto;padding:0px 20px;}

.menu{display:none;}

.movil-menu{display:block;
margin-top:0px;}

nav{margin:0;
background:none;}

.menu li{display:block;
margin:0;}

.menu li a {background:#ffffff;
color:#797979;
border-top:1px solid #e0e0e0;
border-left:3px solid #ffffff;}

.menu li a:hover, .menu li:hover > a{
background:#f0f0f0;
color:#797979;
border-left:3px solid #9CA3DA;}

.menu ul {display:block;
position:relative;
top:0;
left:0;
width:100%;}

.menu ul ul {left:0;}

#contenedor .form-group{
margin: 0 45px 0 45px;
display:block;
}
#contenedor{
  /*width: 625px;*/
}
#contenedor #fechas label{display: block;}
.grid-1, .grid-2, .grid-3, .grid-4,.grid-5{width: 100%;}
@media (max-width: 480px) {


#fechas label{  
  display: block;
  width: 100%;
}
#fondo {
  
width: 90%;
margin: 0 auto;
}
#fondo img{

max-width:100%;
height: auto;
display: block;
margin: 0 auto;
}
.inicio h1{
margin: .5em;
text-align: center;
font-size: 35px;
          }

.login-form{ 
  width: 50%;  
  margin:auto;  
}
  
.login-form  input{font-size:12px;
  text-align: center;
  padding:8px;
  }

.login-form .btn{
  font-size:10px;
  padding:8px;}


.grid-6, .grid-7{width: 22%;}


label{display: block;  } 
@media (max-width: 320px) {
  .grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6 {
width: 100%;
}
  }


